{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<h2>
	Tervetuloa poppari-arvosteluihin
</h2>
<form action="/search_result" method="GET">
	<h4>
		Hae elokuvaa:
	</h4> 
	<input type="radio" name="search_by" value="name"> Nimen mukaan
	<input type="radio" name="search_by" value="genre"> Genren mukaan | 
	Hakusana: <input type="text" name="query">
	<input type="submit" value="Hae">
</form>
<h4>
	Viimeisimmät lisäykset
</h4>
<hr>
{% for movie in movies %}
<p>
	{{ movie.name }} | Julkaistu: {{ movie.year }}
</p>
<a href="/movie/{{ movie.id }}">Näytä elokuva</a>
<hr>
{% endfor %}
{% endblock %}
