{% if session.username %}
<p> {{ session.username }} | <a href="/logout">Kirjaudu ulos </a> <br>
{% else %}
<a href="/login">Kirjaudu sisään</a> <br>
{% endif %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{{ message }} <br>
{% endfor %}
{% endif %}
{% endwith %}
<br>
Tervetuloa Poppari-arvosteluihin!
<hr>
{% for movie in movies %}
<p>{{ movie.name }} | Julkaistu: {{ movie.year }} <br>
<a href="/movie/{{ movie.id }}">Näytä elokuva</a>
<hr>
{% endfor %}
