<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<title>
	Poppari-arvostelut - {% block title %}{% endblock %}
</title>
<body>
	<div class="header">
	<h1>
		Poppari-arvostelut
	</h1>
	<p>
		{% if session.username %}
		{{ session.username }} 
		<a href="/logout" class="menu">Kirjaudu ulos</a>
		{% else %}
		<a href="/login" class="menu">Kirjaudu sisään</a>
		{% endif %}	
	<a href="/" class="menu">Etusivulle</a>
	</p>
	</div>
<hr>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	{{ message }} <br>
	<hr>
	{% endfor %}
	{% endif %}
	{% endwith %}
{% block content %}{% endblock %}
<p>
	Puuttuukko joku elokuva? Jätä pyyntö elokuvan lisäämiseen <a href="/movie_request">tästä</a>
</p>
</body>
