{% extends "layout.html" %}
{% block title %}{{movie[0].name}}{% endblock %}
{% block content %}
<h2>
	{{ movie[0].name }}
</h2>
{% if admin %}
<form action="/delete_movie", method="POST">
	<p>
		Poista elokuva:
	<input type="hidden" name="movie_id" value="{{ movie[0].id }}">
	<input type="submit" value="Poista">
	</p>
</form>
<form action="/add_movie_platform" method="POST">
<label for="platform">Lisää alusta:</label>
<select name="platform">
	{% for platform in all_platforms %}
	<option value="{{ platform.id }}">{{ platform.name }}</option>
	{% endfor %}
</select>
<input type="hidden" name="movie_id" value="{{ movie[0].id }}">
<input type="submit" value="Lisää">
</form>
{% endif %}
<p>
	Julkaistu: {{ movie[0].year }} | Elokuvan pituus: {{ movie[0].length }} minuuttia
</p>
<p>
	Genre: {{ movie[0].genre }} 
</p>
<p>
{% if movie[0].description %}
	{{ movie[0].description }}
{% else %}
	Elokuvalla ei ole kuvausta
{% endif %}
</p>
{% if movie[0].all_stars != None %}
<p> 
	Arvosteluiden keskiarvo: {{ movie[0].all_stars }} tähteä
</p>
{% else %}
<p> 
	Elokuvalla ei ole vielä arvosteluja. Ole ensimmäinen ja kerro mielipiteesi elokuvasta! 
</p>
{% endif %}
{% if platforms %}
<p>
	Etkö ole vielä nähnyt elokuvaa? Katso se jollain seuraavista alustoista:
</p>
<table>
{% for platform in platforms %}
	<tr>
		<td><a href="https://www.{{ platform.link }}/">{{ platform.name }}</a></td>
	{% if admin %}
	<form action="/delete_movie_platform" method="POST">
		<input type="hidden" name=movie_id value={{ movie[0].id }}>
		<input type="hidden" name=platform_id value={{ platform.id }}>
		<td><input type="submit" value="Poista"></td>
	</form>
	{% endif %}
</tr>
{% endfor %}
</table>
{% else %}
<p>
	Elokuvalle ei tiedetä, millä alustoilla sen voi nähdä
</p>
{% endif %}
{% if session.username %}
<p> 
	Haluatko kertoa oman mielipiteesti elokuvasta?
<a href="/new_review/{{ movie[0].id }}">Jätä arvostelu</a>
</p>
{% else %}
<p>
<a href="/login">Kirjaudu sisään jättääksesi arvostelu</a>
</p>
{% endif %}
<hr>
{% for review in movie %}
{% if review.review %}
<p>
	{{ review.username }} | {{ "*"*review.stars }} 
</p>
<p>
	{{ review.review }}
</p>
{{ review.left_at.strftime("%Y-%m-%d %H:%M:%S") }}
{% if admin %}
<a href="/delete_review/{{ review.rid }}">Poista</a>
{% endif %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}
