{% extends "layout.html" %}
{% block title %}Pyyntö{% endblock %}
{% block content %}
<h2>
	Uusi lisäys pyyntö
</h2>
<form action="/leave_request" method="POST">
	<p>
		<label class="label3" for="mname">Elokuvan nimi:</label>
		<input id="mname" type="text" name="movie_name" required>
	</p>
	<p>
		<label class="label3" for="myear">Elokuvan julkaisuvuosi:</label>
		<input id="myear" type="text" name="movie_year" required>
	</p>
	<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
	<input type="submit" value="Lähteä pyyntö">
</form>
{% endblock %}
