{% extends "layout.html" %}
{% block title %}Uusi{% endblock %}
{% block content %}
<form action="/add_movie" method=POST>
	<p>
		Elokuvan nimi: <input type="text" name="name" value="{{ movie.movie_name }}">
	</p>
	<p>
		Julkaisuvuosi: <input type="text" name="year" value="{{ movie.year }}">
	</p>
	<p>
		Elokuvan pituus: <input type="text" name="length">
	</p>
	<p>
		Elokuvan genre: <input type="text" name="genre">
	</p>
	<p>
		Kuvaus elokuvasta:
	</p>
	<textarea name="description"></textarea> <br>
	<input type="hidden" name="id" value="{{ id }}">
	<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
	<input type="submit" value="Lisää elokuva">
</form>
{% endblock %}
