{% extends "layout.html" %}
{% block title %}Uusi arvostelu{% endblock %}
{% block content %}
{% if session.username %}
<h2> Jätä arvostelu elokuvalle {{ movie[0].name }} </h2>
<hr>
<form action="/leave_review" method="POST">
	<p>
		Montako tähteä annat elokuvalle
	</p>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{{ messages[0] }} <br>
	<br>
	{% endif %}
	{% endwith %}
	{% for i in range(1, 6) %}
	<input type="radio" name="stars" value="{{ i }}"> {{ i }}
	{% endfor %}
	<br>
	<p>
		Kerro tarkemmin mielipiteesi elokuvasta
	</p>
	<textarea name="review" required>{{ review }}</textarea> <br>
	<br>
	<input type="submit" value="Lähetä arvostelu">
	<input type="hidden" name="id" value="{{ id }}">
	<input type="hidden" name="user_id" value="{{ user_id }}">
	<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<a href="/movie/{{ id }}">Peruuta</a>
{% else %}
<p>
	Kirjaudu sisään jättääksesi arvostelu elokuville <a href="/login">Kirjaudu sisään</a>
</p>
{% endif %}
{% endblock %}
