{% extends "layout.html" %}
{% block title %}Rekisteröityminen{% endblock %}
{% block content %}
<head>
<style>
	form  { display: table;      }
	p     { display: table-row;  }
	label { display: table-cell; }
	input { display: table-cell; }
</style>
</head>
<form action="/registeration" method="POST">
	<h2>
		Luo käyttäjä 
	</h2>
	<p>
		<label for="usname">Käyttäjänimi:</label>
		<input id="usname" type="text" name="username"> 
	</p>
	<p>
		<label for="pass">Salasana:</label>
		<input id="pass" type="password" name="password1">
	</p>
	<p>
		<label for="pass2">Anna salasana uudestaan:</label>
		<input id="pass2" type="password" name="password2">
	</p>
	<input type="submit" value="Luo käyttäjä">
</form>
<p>
	Onko jo käyttäjä? <a href="/login">Kirjaudu sisään</a>
<p>

<h5>
	HUOM!
</h5>
<p>
	Salasanassa tulee olla vähintään 5 merkkiä, joista ainakin yksi on numero ja ainakin yksi on iso kirjain
</p>
{% if error != None %}
{{ error }}
{% endif %}
{% endblock %}
