{% extends "layout.html" %}
{% block title %}Rekisteröityminen{% endblock %}
{% block content %}
<div class="align_boxes">
<form action="/registeration" method="POST">
	<h2>
		Luo käyttäjä 
	</h2>
		<label class="label2" for="usname">Käyttäjänimi:</label>
		<input id="usname" type="text" name="username", value="{{ username }}">
	<p>
		<label class="label2" for="pass">Salasana:</label>
		<input id="pass" type="password" name="password1", value="{{ password1 }}">
	</p>
	<p>
		<label class="label2" for="pass2">Salasana uudestaan:</label>
		<input id="pass2" type="password" name="password2", value="{{ password2 }}">
	</p>
	<input type="submit" value="Luo käyttäjä">
</form>
<p>
	Onko jo käyttäjä? <a href="/login">Kirjaudu sisään</a>
<p>
<h5>
	HUOM!
</h5>
<p>
	Salasanassa tulee olla vähintään 5 merkkiä, joista ainakin yksi on numero ja ainakin yksi on iso kirjain
</p>
{% if error != None %}
<br>
{{ error }}
<hr>
{% endif %}
{% endblock %}
</div>
